{% extends 'seqConfig/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <section class="seq-config-section">
        <div class="row seq-text-center">
            <h1 class="seq-config-header">Submit New Barcode(s)</h1>
        </div>
    </section>
    <section class="seq-config-section">
        <div class="row seq-text-center">
            <h2 class="seq-config-header">Create a barcode</h2>
        </div>
    </section>
    <section class="seq-config-section">
        <form id="single" action="/seqConfig/barcode/submit/" method="post">
            {% csrf_token %}
            {% for field in barcode_form %}
            <div class="row" style="margin-bottom:15px">
                <div class="col-sm-2 col-sm-offset-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-6">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <section class="seq-config-section">
                <div class="row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" style="float:right">
                            <span class="fa fa-cogs"></span>&nbsp;&nbsp;
                            Submit
                        </button>
                    </div>
                </div>
            </section>
        </form>
        <form id="multi" action="/seqConfig/barcode/upload/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <section class="seq-config-section">
                <div class="row seq-text-center">
                    <h2 class="seq-config-header">Create all the barcodes!</h2>
                </div>
                <br>
                <br>

                <div class="col-sm-2 col-sm-offset-2">
                    <label for="id_barcode_file">Format: tab-separated text file, one barcode name and sequence pair per
                        line
                    </label>
                </div>
                <div class="col-sm-4">
                    <input class="form-control" id="id_barcode_file" name="barcode_file" type="file">
                </div>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" style="float:right">
                        <span class="fa fa-cloud-upload"></span>&nbsp;&nbsp;
                        Upload
                    </button>
                </div>
            </section>

        </form>
    </section>
</div>
<script src="{% static 'js/barcode/barcode_submit.js' %}"></script>
{% endblock %}