{% extends 'seqConfig/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <section class="bc-config-section">
        <div class="row bc-text-center">
            <h1 class="bc-config-header">Edit Barcode</h1>
        </div>
    </section>
    <section class="bc-config-section">
        <form action="/seqConfig/barcode/delete/{{ barcode_id }}/" method="post" id="barcode_delete_form">
            {% csrf_token %}
        </form>
        <form action="/seqConfig/barcode/edit/{{ barcode_id }}/" method="post" id="barcode_edit_form">
            {% csrf_token %}
            {% for field in barcode_form %}
            <div class="row" style="margin-bottom:15px">
                <div class="col-sm-2 col-sm-offset-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-6">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
        </form>
    </section>
    <section class="bc-config-section">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="button" id="submit_edit" class="btn btn-primary" style="float:right">
                   <span class="fa fa-wrench"></span>&nbsp;&nbsp;
                   Update
                </button>
                <button type="button" id="submit_delete" class="btn btn-primary" data-clicked="0">
                   <span class="fa fa-trash"></span>&nbsp;&nbsp;
                   Trash it
                </button>
            </div>
        </div>
    </section>
</div>
<script src="{% static 'js/barcode/barcode_edit.js' %}"></script>
{% endblock %}