body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #bf3604;
}
a:hover{
    color: #8B2702;
}
a:visited{
    color: #8B2702;
}

.seq-config-section{
    padding-top: 25px;
    padding-bottom: 25px;
}
.seq-text-center{
    text-align: center;
}
table a.seq-config-icon-link,
a.seq-config-icon-link{
    text-decoration: none !important;
}

.seq-config-icon{
    color: #bf3604;
}

.seq-config-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.seq-config-header-thin{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

label{
    margin-top: 1em;
}

.library-lane{
    padding-top: 1.3em;
    padding-bottom:1.3em;
}
.library-lane-vertical-center{
    margin-top: 0.8em;
}
.even-library-lane{
    background-color: #f2f2f2;
}
.library-lane-header{
    font-weight: bold;
    margin-bottom: 1.3em;
}


/* Panel Tabs */
.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #8B2702;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #8B2702;
	background-color: #fff;
	border-color: #8B2702;
	border-bottom-color: transparent;
}
