body{
    font-family: 'Open Sans', sans-serif;
}
a{
    color: #bf3604;
}
a:hover{
    color: #8B2702;
}
a:visited{
    color: #8B2702;
}

.seq-config-section{
    padding-top: 25px;
    padding-bottom: 25px;
}
.seq-text-center{
    text-align: center;
}
table a.seq-config-icon-link,
a.seq-config-icon-link{
    text-decoration: none;
}

.seq-config-icon{
    color: #bf3604;
}

.seq-config-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.seq-config-header-thin{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}