{% extends 'seqConfig/base.html' %}
{% block content %}
<div class="container">
    <section class="seq-config-section">
        <div class="row seq-text-center">
            <h1>SeqConfig Manager</h1>
        </div>
    </section>
    <section class="seq-config-section">
        <div class="row">
            <a href="/seqConfig/config/submit/">
                <button class="btn btn-primary btn-sm" style="margin-bottom:15px">
                    <span class="fa fa-plus"></span>&nbsp;&nbsp;Add Config
                </button>
            </a>
        </div>
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <th class="col-xs-1">Config Number</th>
                    <th class="col-xs-2">Creation Date</th>
                    <th class="col-xs-2">Type</th>
                    <th class="col-xs-2">Illumina Run Name</th>
                    <th class="col-xs-3">Created By (Approved By)</th>
                    <th class="col-xs-2"></th>
                </tr>
                {% for config in configs %}
                    <tr>
                        <td>{{ config.pk }}</td>
                        <td>{{ config.creation_date }}</td>
                        <td>{{ config.runtype.name }}: {{ config.read1_cycles }}, {{ config.barcode_cycles }}, {{ config.read2_cycles }}</td>
                        <td>{{ config.run_name }}</td>
                        <td>{{ config.created_by.username }} ({% if config.approved_by.username %}{{ config.approved_by.username }}{% else %}Not Approved{% endif %})</td>
                        <td>
                            <a href="/seqConfig/config/edit/{{ config.pk }}" class="seq-config-icon-link" title="Edit/Delete">
                                <span class="fa fa-2x fa-pencil"></span>&nbsp;&nbsp;
                            </a>
                            {% if config.approved_by %}
                                <span class="fa fa-2x fa-check-circle seq-config-icon" title="Approved"></span>&nbsp;&nbsp;
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>
{% endblock %}