{% extends 'seqConfig/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <section class="seq-config-section">
        <div class="row seq-text-center">
            <h1 class="seq-config-header">Submit New SeqConfig</h1>
        </div>
    </section>
    <section class="seq-config-section">
        <form action="/seqConfig/config/submit/" method="post">
            {% csrf_token %}
            {% for field in config_form %}
            <div class="row" style="margin-bottom:15px">
                <div class="col-sm-2 col-sm-offset-1">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-8">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <section class="seq-config-section">
                <div class="row" style="margin-bottom:15px">
                    <div class="col-sm-2 col-sm-offset-5">
                        <label for="lane-count-select">Lane Count:</label>
                    </div>
                    <div class="col-sm-4">
                        <select id="lane-count-select" class="form-control" name="lane_count">
                            {% for lane_count in lane_counts %}
                            <option value="{{ lane_count.count }}">{{ lane_count.count }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div id="lanes-section"></div>
            </section>
            <section>
                <div class="row">
                    <div class="col-sm-11">
                       <button type="button" class="btn btn-primary btn-submit" style="float:right">
                           <span class="fa fa-cogs"></span>&nbsp;&nbsp;
                           Submit
                        </button>
                    </div>
                </div>
            </section>
        </form>
    </section>
</div>
<script src="{% static 'js/config/config_submit.js' %}"></script>
{% endblock %}