{% extends 'seqConfig/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <section class="seq-config-section">
        <div class="row seq-text-center">
            <h1 class="seq-config-header">SeqConfig Manager</h1>
        </div>
    </section>
    <section class="seq-config-section">
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <div class="alert alert-{{ message.level_tag }} alert-dismissable col-sm-6 col-sm-offset-3" style="font-size:1.3em">
                <button type="button" class="close" data-dismiss="alert"><span class="fa fa-close"></span></button>
                <span class="fa fa-{% if message.extra_tags %}{{ message.extra_tags }}{% else %}cube{% endif %}"></span>&nbsp;&nbsp;
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-sm-12">
                <a href="/seq-config/config/submit/">
                    <button class="btn btn-primary btn-sm" style="margin-bottom:15px">
                        <span class="fa fa-plus"></span>&nbsp;&nbsp;Add Config
                    </button>
                </a>
            </div>
        </div>
        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-xs-1">Config Number</th>
                        <th class="col-xs-2">Creation Date</th>
                        <th class="col-xs-1">Type</th>
                        <th class="col-xs-1">Cycles</th>
                        <th class="col-xs-2">Run Folder ID</th>
                        <th class="col-xs-1">Status</th>
                        <th class="col-xs-2">Created By (Approved By)</th>
                        <th class="col-xs-2"></th>
                    </tr>
                </thead>
                <tbody>
                {% for config in configs %}
                    <tr>
                        <td>{{ config.pk }}</td>
                        <td>{{ config.creation_date }}</td>
                        <td>{{ config.runtype.name }}</td>
                        <td>{{ config.read1_cycles }}, {{ config.barcode_cycles }}, {{ config.read2_cycles }}</td>
                        <td>{{ config.run_name }}</td>
                        <td>{{ config.get_status_display }}{% if config.status_change_date %}<br/><span style="font-size:x-small">({{ config.status_change_date }})</span>{% endif %}</td>
                        <td>{{ config.created_by.username }} ({% if config.approved_by.username %}{{ config.approved_by.username }}{% else %}Not Approved{% endif %})</td>
                        <td>
                            <a href="/seq-config/config/edit/{{ config.pk }}" class="seq-config-icon-link" title="Edit/Delete">
                                <span class="fa fa-2x fa-pencil"></span>&nbsp;&nbsp;
                            </a>
                            <span class="fa fa-2x fa-caret-down seq-config-icon seq-config-pointer caret-down" data-state="down"></span>&nbsp;&nbsp;
                            {% if config.approved_by %}
                                <span class="fa fa-2x fa-check-circle seq-config-icon" title="Approved"></span>&nbsp;&nbsp;
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="seq-config-config-description">
                        <td><span style="font-weight:bold">Description:</span></td>
                        <td colspan="7">{{ config.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
<script src="{% static 'js/config/config_manage.js' %}"></script>
{% endblock %}