{% extends 'seqConfig/base.html' %}
{% block content %}
<div class="container">
    <section class="seq-config-section">
        <div class="row seq-text-center">
            <h1 class="seq-config-header">Submit New SeqConfig</h1>
        </div>
    </section>
    <section class="seq-config-section">
        <form action="/seqConfig/config/submit/" method="post">
            {% csrf_token %}
            {% for field in config_form %}
            <div class="row" style="margin-bottom:15px">
                <div class="col-sm-2 col-sm-offset-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-6">
                    {{ field }}
                </div>
            </div>
            {% endfor %}
            <div class="row seq-config-section">
                <div class="col-sm-10">
                   <button type="submit" class="btn btn-primary" style="float:right">
                       <span class="fa fa-cogs"></span>&nbsp;&nbsp;
                       Submit
                    </button>
                </div>
            </div>
        </form>
    </section>
</div>
{% endblock %}